.logo {
    margin: 100px auto;

}

body {
    background: url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/newscms/2017_35/2136986/170829-better-two-people-walking-path-se-612p.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/* // 		#popup {
    // 			position: fixed;
    // 			top: 0;
    // 			left: 0;
    // 			width: 100%;
    // 			height: 100%;
    // 			background: rgba(0,0,0,0.5);
    // 			display: flex;
    // 			align-items: center;
    // 			justify-content: center;
    // 		}
    
    // 		#popup-content {
    // 			background: white;
    // 			padding: 20px;
    // 			border-radius: 5px;
    // 			box-shadow: 0 0 10px rgba(0,0,0,0.5);
    // 		}
    
    // 		#popup button:disabled {
    // 			opacity: 0.5;
    // 			cursor: default;
    // 		} */